.filterDropdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hideFilterDropdown {
    display: none !important
}

.filterButton {
    height: 45px;
    width: 45px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.filterButton:hover {
    background-color: black;
    color: white;
    transition: all .1s ease-in-out;
}