@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    margin: 0 !important;
  }

}

@layer utils {
  .slideout-item {
    @apply cursor-pointer transition-all duration-100 ease-in-out hover:text-[#00008B] w-fit
  }

}

@font-face {
  font-family: 'Type Machine';
  src: local('Type Machine'), url('./assets/Type Machine.ttf') format("truetype");
}