@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    margin: 0 !important;
  }

}

@font-face {
  font-family: 'Type Machine';
  src: local('Type Machine'), url('./fonts/Type Machine.ttf') format("truetype");
}