.filterDropdown {
    display: inline-block;
    position: absolute;
    margin-top: 140px;
}

.searchBar {
    height: 45px;
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    color: #344d56;
    font-size: 1.2em;
    font-family: 'Type Machine';
}

.clearFilterButton {
    height: 45px;
    width: 100px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Type Machine';
    font-size: 1em;
    transition: all .1s ease-in-out;
}

.clearFilterButton:hover {
    background-color: black;
    color: white;
    transition: all .1s ease-in-out;
}

@font-face {
    font-family: 'Type Machine';
    src: local('Type Machine'), url('../../fonts/Type Machine.ttf') format("truetype");
}