.uibarcontainer {
    width: 100%;
    position: fixed;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 2;
    background-color: #FAF9F6;
    border-bottom: 2px solid black;
}

.uibarLeftDiv {
    display: flex;
    width: 10%;
    padding: 10px;
}

.uibarRightDiv {
    display: flex;
    width: 10%;
    padding: 10px;
    justify-content: flex-end;
}

.uibarCenterDiv {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #3f5a36;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.addButton:hover {
    background-color: #3f5a36;
    color: white;
    transition: all .1s ease-in-out;
}

@font-face {
    font-family: 'Type Machine';
    src: local('Type Machine'), url('../../fonts/Type Machine.ttf') format("truetype");
}