.subFilter {
    display: none;
}

.dropdownItem {
    display: flex;
    flex-direction: row;
}

.dropdownItem:hover .subFilter {
    display: inline;
    position: absolute;
    margin-left: 150px;
}

.dropdownButton {
    height: 45px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    font-family: 'Type Machine';
}

@font-face {
    font-family: 'Type Machine';
    src: local('Type Machine'), url('../../fonts/Type Machine.ttf') format("truetype");
}