@font-face {
    font-family: 'Type Machine';
    src: local('Type Machine'), url('../../fonts/Type Machine.ttf') format("truetype");
}

.isSelected {
    background-color: grey !important;
    color: white;
}

.filterButton {
    width: 100px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-family: 'Type Machine';
}

.filterButton:hover {
    background-color: grey;
    color: white;
}

.selectContainer {
    display: flex;
    flex-direction: column;
}